<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-secondary">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          Pet ML
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Menu</q-item-label>
        <div v-for="(content, idx) in contents" v-bind:key="idx">
          <q-item clickable tag="a" :href="content.link">
            <q-item-section avatar>
              <q-icon :name="content.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{content.label}}</q-item-label>
              <q-item-label caption>{{content.explain}}</q-item-label>
            </q-item-section>
          </q-item>
          <q-separator />
        </div>
        <q-item clickable tag="a" v-if="login" @click="logout">
          <q-item-section avatar>
            <q-icon name="person_outline" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ログアウト</q-item-label>
            <q-item-label caption>ログアウトします</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable tag="a" href="#/signup" v-else>
          <q-item-section avatar>
            <q-icon name="person" />
          </q-item-section>
          <q-item-section>
            <q-item-label>ログイン</q-item-label>
            <q-item-label caption>ログイン画面へ</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>
    <q-page-container>
        <!-- ここにコンポーネント -->
        <div :is="contentComponent" style="margin: 15px;" />
    </q-page-container>
  </q-layout>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
  created() {
    let state = this.$store.getters.getState
    this.login = state.auth.login
    // ログイン処理
    if(this.login){
      this.contents.push({ link: '/#/logged/train', label: 'AIの学習', explain: 'AIにデータセットを学習させます。', icon: 'school' })
      this.contents.push({ link: '/#/logged/dataset', label: 'データセットの作成', explain: '学習用のデータセットを作成します。', icon: 'label'})
      this.contents.push({ link: '/#/logged/prediction', label: '画像の予測', explain: '入力画像から予測を行います。', icon: 'navigate_next' })
      this.contents.push({ link: '/#/logged/weightoperation', label: 'AIの設定', explain: 'これまで学習したAIのモデルを操作します。', icon: 'settings_applications'})
      this.contents.push({ link: '/#/logged/info', label: 'ユーザの設定', explain: 'ユーザの情報の閲覧、編集を行います。', icon: 'info'})
    }
  },
  data() {
    return {
      leftDrawerOpen: false,
      login: true,
      contents: []
    }
  },
  props: {
    'contentComponent': {}
  },
  methods: {
    logout() {
      this.$store.commit("logout")
      post('/api/logout', {}).then(res => {
        res
        this.$router.push({ path: '/signup' })
      })
      
    }
  }
}
</script>

<style>

</style>