<template>
  <div>
    <div class="row q-pa-md">
      <div class="col">
        <q-card>
          <q-card-section>認証コード</q-card-section>
          <q-separator></q-separator>
          <q-card-section>
            <div>
              <p>メールに添付しているパスワードを入力してください。</p>
              <p>パスワードの再送は以下のボタンをクリックしてください。</p>
            </div>
            <q-btn @click="resend">送信</q-btn>
          </q-card-section>
          <q-card-section>
            <div style="padding: 15px;">
              <form
                @submit.prevent="SubmitProcess"
                method="POST"
                class="q-pa-md"
              >
                <q-input type="text" label="本人確認コード" v-model="password" required />
                <div style="text-align: right; margin: 15px;">
                  <q-btn
                    type="submit"
                    label="送信"
                    color="blue"
                    class="q-mt-md"
                    :loading="submitting"
                  >
                    <template v-slot:loading>
                      <q-spinner-facebook />
                    </template>
                  </q-btn>
                </div>
              </form>
            </div>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'

export default {
  created() {
    let state = this.$store.getters.getState
		let login = state.auth.login
		if(login) {
			this.$router.push('/')
		}
		this.id = this.$route.query.id
    this.addr = this.$route.query.addr
	},
	data(){
    return{
			id: '',
			addr: '',
			password: ''
    }
	},
	methods: {
		SubmitProcess() {
      let params = new URLSearchParams()
      let id = this.decode(this.id)
			params.append('ID', id)
			params.append('passcode', this.password)
			post('/api/confirm', params).then(res => {
				if(res.data.Next) {
          // ログインの情報を格納
          this.$store.commit("login", res.data.Token)
          this.$router.push("/")
				} else {
					// ダイアログの出力
				}
			})
    },
    decode(str) {
      return decodeURIComponent(escape(atob(str)));
    },
    resend() {
      let params = new URLSearchParams()
      let mail = decode(this.mail)
      params.append('mail', mail)
      post('/api/resend', params).then(res => {
        console.log(res.data)
      })
    }
	}
};
</script>

<style>
</style>