<template>
	<div>
		<div v-if="this.$q.platform.is.desktop">
      <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" class="row">
				<div class="absolute-bottom-right col-12" style="width: 40%; margin: 10px 10px 10px 10px;">
					<q-card>
						<q-card-section>
							<q-btn-toggle
							color="dark"
							v-model="selected"
							toggle-color="primary"
							flat
							:options="[
								{label: 'ログイン', value: 'ログイン'},
								{label: '登録', value: '登録'}
							]"
						/>
						</q-card-section>
						<q-separator />
						<div v-if="selected == 'ログイン'">
							<form method="post" @submit.prevent="SubmitProcess" action="/service/signup" class="q-pa-md">
								<q-input
								v-model="form.login.ID"
								label="ID"
								:rules="requiredRule"
								required/>
								<q-input
								v-model="form.login.Password"
								label="password"
								type="password"
                :rules="passwordRule"
								required/>
								<div class="row justify-end">
									<q-btn
									type="submit"
									label="ログイン"
									color="blue"
									class="q-mt-md"
									:loading="submitting"
									>
										<template v-slot:loading>
											<q-spinner-facebook />
										</template>
									</q-btn>
								</div>
							</form>
						</div>
						<div v-else-if="selected == '登録'">
							<form method="post" @submit.prevent="SubmitProcess" action="/service/signup" class="q-pa-md">
							<q-input
								v-model="form.resister.Mail"
                label="Mail"
								type="email"
								name="mail"
								:rules="requiredRule"
								required/>
								<q-input
								v-model="form.resister.ID"
								label="ID"
								name="id"
								:rules="requiredRule"
								required/>
								<q-input
								v-model="form.resister.Password"
								label="password"
								type="password"
								name="password"
								:rules="passwordRule"
								required/>
								<div class="row justify-end">
									<q-btn
									type="submit"
									label="登録"
									color="blue"
									class="q-mt-md"
									:loading="submitting"
									>
										<template v-slot:loading>
											<q-spinner-facebook />
										</template>
									</q-btn>
								</div>
							</form>
						</div>
					</q-card>
				</div>
			</q-img>
		</div>
    <div v-else>
				<q-img src="https://cdn.quasar.dev/img/parallax2.jpg" style="margin-bottom: 10px;"/>
				<q-card>
					<q-card-section>
						<q-btn-toggle
						v-model="selected"
						toggle-color="primary"
						flat
						:options="[
							{label: 'ログイン', value: 'ログイン'},
							{label: '登録', value: '登録'}
						]"
						/>
					</q-card-section>
					<q-separator />
					<div v-if="selected == 'ログイン'">
						<form method="post" @submit.prevent="SubmitProcess" action="/service/signup" class="q-pa-md">
							<q-input
							v-model="form.login.ID"
							label="ID"
							:rules="requiredRule"
							required/>
							<q-input
							v-model="form.login.Password"
							label="password"
							type="password"
							:rules="passwordRule"
							required/>
							<div class="row justify-end">
								<q-btn
								type="submit"
								label="ログイン"
								color="blue"
								class="q-mt-md"
								:loading="submitting"
								>
									<template v-slot:loading>
										<q-spinner-facebook />
									</template>
								</q-btn>
							</div>
						</form>
					</div>
					<div v-else-if="selected == '登録'">
						<form method="post" @submit.prevent="SubmitProcess" action="/service/signup" class="q-pa-md">
							<q-input
							v-model="form.resister.Mail"
							label="Mail"
							type="email"
							:rules="requiredRule"
							required/>
							<q-input
							v-model="form.resister.ID"
							label="ID"
							:rules="requiredRule"
							required/>
							<q-input
							v-model="form.resister.Password"
							label="password"
							type="password"
							:rules="passwordRule"
							required/>
							<div class="row justify-end">
								<q-btn
								type="submit"
								label="登録"
								color="blue"
								class="q-mt-md"
								:loading="submitting"
								>
									<template v-slot:loading>
										<q-spinner-facebook />
									</template>
								</q-btn>
							</div>
						</form>
					</div>
				</q-card>
			</div>
	</div>
</template>

<script>
import { post } from '@/frontend/libs/post'
import { login, signup } from '@/frontend/libs/auth'
export default {
	created() {
		let state = this.$store.getters.getState
		let login = state.auth.login
		if(login) {
			this.$router.push('/')
		}
	},
  data() {
    return {
      selected: 'ログイン',
			submitting: false,
      form: {
        login: {
          ID: '',
          Password: ''
        },
        resister: {
          Mail: '',
          Password: '',
          ID: ''
        }
      },
      passwordRule:[
        v => !!v || '入力してください',
        v => v.length >= 8 || '8文字以上のパスワードを入力してください',
			],
			requiredRule:[
        v => !!v || '入力してください'
      ]
    }
  },
  components: {

	},
	methods: {
		SubmitProcess() {
			this.submitting = true
			
			setTimeout(() => {
				this.submitting = false
			}, 3000)

			let link = ''
			let params = new URLSearchParams()
			if(this.selected == 'ログイン') {
				link = '/api/login'
				params.append( 'ID', this.form.login.ID)
				params.append('Password', this.form.login.Password)
				post(link, params).then(res => {
					login(res.data)
				})
			}else if(this.selected == '登録') {
				link = '/api/signup'
				params.append( 'ID', this.form.resister.ID)
				params.append('Password', this.form.resister.Password)
				params.append('Mail', this.form.resister.Mail)
				post(link, params).then(res => {
					signup(res.data)
				})
			}
		}
	}
}
</script>

<style lang="sass" scoped>
.custom-caption
	text-align: center
	padding: 12px
	color: white
	background-color: rgba(0, 0, 0, .3)
</style>
