<template>
  <q-card>
    <q-card-section>
      <span style="font-size: 200%;">Model Status Parameter</span>
    </q-card-section>
    <q-card-section>
      <!-- グラフ描画 -->
      <apexchart
        type="line"
        height="350"
        :options="chartOptions"
        :series="series"
      ></apexchart>
    </q-card-section>
  </q-card>
</template>

<script>
import { post, trainpost } from '@/frontend/libs/post'

export default {
  created() {
    setInterval(this.interval, 500)
  },
  data() {
    return {
      series: [
        {
          name: "Loss",
          data: []
        }
      ],
      chartOptions: {
        chart: {
          id: 'realtime',
          height: 500,
          type: "line",
          zoom: {
            enabled: false
          },
          animations: {
            enabled: true,
            easing: 'linear',
            dynamicAnimation: {
              speed: 1000
            }
          }
        }
      }
    }
  },
  methods: {
    interval() {
      if(this.$store.state.training) {
        trainpost('/api/getloss', {}).then(res => {
          let data = res.data.split(',')
          let result = []
          let sum = 0
          for(let i = 0;i < data.length; i++) {
            if(i % 10 == 0){
              result.push(sum / 10)
              sum = 0
            }
            sum += parseFloat(data[i])
          }
          if(this.series[0].data.length <= result.length){
            this.series[0].data = result
          }else {
            this.$store.commit('endTrain')
          }
        })
      }
    }
  }
};
</script>

<style></style>
