<template>
  <div>
    <root-header :content-component="confirmbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/confirm/body'
import header from '@/frontend/components/header'

export default {
  components: {
    'root-header': header
  },
  data() {
    return{
			confirmbody: body
    }
  }
}
</script>

<style>

</style>