<template>
  <div>
    <root-header :content-component="rootbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/root/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'root-header': header
  },
  data() {
    return{
      rootbody: body
    }
  }
}
</script>

<style>

</style>