<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="text-h6">AIの設定</div>
      </q-card-section>
      <q-card-section>
        <q-tree
        :nodes="props"
        default-expand-all
        :selected.sync="selected"
        node-key="label"
        />
      </q-card-section>
      <q-separator />
      <q-card-section>
        <div class="text-h6">{{weight.Name}}</div>
        <div>accuracy: {{weight.Accuracy}}</div>
        <div>precision: {{weight.Precision}}</div>
        <div>recall: {{weight.Recall}}</div>
        <div>specificity: {{weight.Specificity}}</div>
        <q-input type="text" v-model="key" label="api key" />
        <q-input type="text" v-model="ID" label="application ID" />
        <q-input type="text" v-model="application" label="application Name" />
        <div align="right" style="margin: 15px;">
          <q-btn label="適用" color="primary" />
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  watch: {
    selected(newval) {
      // 取得したAI
      console.log(newval)
    }
  },
  data () {
    return {
      key: '',
      ID: '',
      application: '',
      weight: {
        Name: 'test',
        Accuracy: '90.0',
        Precision: '89.0',
        Recall: '79.0',
        Specificity: '12.0'
      },
      selected: null,
      props: [
        {
          label: 'Satisfied customers',
          avatar: 'https://cdn.quasar.dev/img/boy-avatar.png',
          children: [
            {
              label: 'Good food',
              icon: 'restaurant_menu',
              children: [
                { label: 'Quality ingredients' },
                { label: 'Good recipe' }
              ]
            },
            {
              label: 'Good service',
              icon: 'room_service',
              children: [
                { label: 'Prompt attention' },
                { label: 'Professional waiter' }
              ]
            },
            {
              label: 'Pleasant surroundings',
              icon: 'photo',
              children: [
                {
                  label: 'Happy atmosphere'
                },
                {
                  label: 'Good table presentation'
                },
                {
                  label: 'Pleasing decor'
                }
              ]
            }
          ]
        }
      ]
    }
  }
}
</script>

<style>

</style>