<template>
  <div>
    <q-card>
      <q-card-section>
        <q-btn-toggle
          v-model="select"
          toggle-color="primary"
          flat
          :options="[
            {label: 'データセット', value: 'dataset'},
            {label: 'クラス', value: 'class'},
          ]"
        />
      </q-card-section>
      <q-separator />

      <q-card-section v-if="select == 'dataset'">
        <dataset />
      </q-card-section>
      <q-card-section v-if="select == 'class'">
        <class />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import dataset from '@/frontend/components/logged/dataset/dataset'
import classoperation from '@/frontend/components/logged/dataset/class'
export default {
  components: {
    dataset,
    'class': classoperation
  },
  data() {
    return {
      select: 'dataset'
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
</style>