<template>
  <div>
    <div>
      <p>
        クラスの追加
      </p>
      <p style="text-align: right;">
        <q-btn icon="add" round @click="addclass" style="margin: 15px;" />
        <q-btn icon="remove" round @click="removeclass" />
      </p>
      <div v-for="(item, idx) in classes" v-bind:key="idx">
        <q-input type="text" v-model="classes[idx]" label="class name" />
      </div>
      <div style="margin: 15px;" v-if="classes.length > 0" align="right">
        <q-btn color="primary" @click="add">追加</q-btn>
      </div>
    </div>
    <q-separator />
    <h6>クラス一覧</h6>
    <div>
      <q-tree
      :nodes="props"
      tick-strategy="leaf"
      :ticked.sync="ticked"
      node-key="label"
      />
    </div>
    <div style="margin: 15px; text-align: right;">
      <q-btn color="red" @click="del">削除</q-btn>
    </div>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'

export default {
  created() {
    post('/api/getclasses', {}).then(res => {
      let data = res.data
      for(let i = 0;i < data.length; i++){
        this.props[0].children.push(data[i])
      }
    })
  },
  data() {
    return {
      classes: [],
      props: [
        {
          label: 'classes',
          children: [
          ]
        }
      ],
      ticked: []
    }
  },
  methods: {
    addclass() {
      this.classes.push('')
    },
    removeclass() {
      this.classes.pop()
    },
    add() {
      for(let i = 0;i < this.classes.length; i++){
        this.props[0].children.push({ label: this.classes[i] })
      }
      let params = new URLSearchParams()
      let jsonstr = JSON.stringify(this.classes)
      params.append('data', jsonstr)
      post('/api/addclass', params).then(() => {
        this.classes = []
      })
    },
    del() {
      this.$q.dialog({
        dark: true,
        title: '確認',
        message: '本当に削除しますか？(この操作を戻すことはできません)',
        cancel: true,
        persistent: true
      }).onOk(() => {
        this.delete()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete() {
      let target = []
      for(let i = 0;i < this.ticked.length; i++){
        for(let j = 0;j < this.props[0].children.length; j++){
          if(this.ticked[i] == this.props[0].children[j].label){
            target.push(this.props[0].children[j].id)
            this.props[0].children.splice(j, 1)
          }
        }
      }
      let jsonstr = JSON.stringify(target)
      let params = new URLSearchParams()
      params.append('data', jsonstr)
      post('/api/delclass', params)
    }
  }
}
</script>

<style>

</style>