<template>
  <div>
    <div class="row">
      <div class="col-4"  v-for="(dataset, idx) in datasets" v-bind:key="idx" >
        <q-card class="my-card">
          <img :src="dataset.Image" clickable @click="open(idx)">
            <q-card-section>
              <div class="row">
                <div class="col-6 text-h6">
                  {{dataset.Name}}
                </div>
                <div class="col-6" style="text-align: right;">
                  <q-btn flat round dense icon="more_vert">
                    <q-menu>
                      <q-list style="min-width: 100px">
                        <q-item clickable v-close-popup>
                          <q-item-section @click="open(idx)">編集</q-item-section>
                        </q-item>
                        <q-item clickable v-close-popup>
                          <q-item-section style="color: #ff0000" @click="del(idx)">削除</q-item-section>
                        </q-item>
                      </q-list>
                    </q-menu>
                  </q-btn>
                </div>
              </div>
            </q-card-section>
        </q-card>
      </div>
    </div>
    <q-card-actions align="right">
      <q-btn label="新規作成" color="primary" @click="adddataset"></q-btn>
     </q-card-actions>
     <q-dialog
      v-model="dialog"
      persistent
      :maximized="maximizedToggle"
      transition-show="slide-up"
      transition-hide="slide-down"
    >
      <q-card dark bordered class="bg-grey-5">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

        <q-card-section>
          <div class="text-h6">{{selected.Name}}</div>
        </q-card-section>
        
        <q-card-section>
          <q-card>
            <q-card-section>
              <q-btn-toggle
              v-model="operation"
              text-color="black"
              toggle-color="primary"
              flat
              :options="[
                {label: 'データセット', value: 'view'},
                {label: 'データの追加', value: 'add'}
              ]"
            />
            </q-card-section>
            <q-separator />
            <q-card-section v-if="operation == 'view'">
              <div class="q-pa-md">
                <div class="q-gutter-sm">
                  <q-btn size="sm" color="primary" @click="showdata" label="画像の表示" />
                  <q-btn size="sm" color="red" @click="deletedata(selected.idx)" label="削除" />
                </div>
                <div>
                  <q-tree
                  :nodes="props"
                  tick-strategy="leaf"
                  :ticked.sync="ticked"
                  node-key="label"
                  />
                </div>
                <div class="q-pa-md" v-for="(item, idx) in showval" v-bind:key="idx">
                  <p style="color: #000000">{{item.label}}</p>
                  <q-img :src="item.file" />
                </div>        
              </div>
            </q-card-section>
            <q-card-section v-if="operation == 'add'">
              <div class="q-pa-md">
                <q-select
                filled
                v-model="classname"
                use-input
                hide-selected
                fill-input
                input-debounce="0"
                :options="options"
                @filter="filterFn"
                hint="クラス"
                style="width: 250px; padding-bottom: 32px"
              />
              </div>
              <div>
                <dropify
                multiple
                ref="removeall"
                @upload="set" />
              </div>
              <div style="margin: 5px;" align="right">
                <q-btn outline color="dark" label="追加" @click="adddata(selected.idx)" />
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
import { parsetree } from '@/frontend/libs/dataset'
import dropify from 'vue-dropify'

export default {
  components: {
    dropify
  },
  created() {
    post('/api/getclasses', {}).then(res => {
      let data = res.data
      for(let i = 0;i < data.length; i++){
        this.options.push(data[i].label)
        this.baseoptions.push(data[i].label)
      }
    })
    post('/api/getdataset', {}).then(res => {
      if(res.data != null){
        this.datasets = res.data
      }
    })
  },
  data() {
    return {
      filelist: [],
      datasets: [],
      dialog: false,
      maximizedToggle: true,
      selected: {},
      classname: '',
      options: [],
      baseoptions: [],
      operation: 'view',
      ticked: [],
      showval: [],
      props: [
        {
          label: '',
          children: [
          ]
        }
      ]
    }
  },
  methods: {
    open(idx) {
      this.dialog = true
      this.scan(idx)
    },
    scan(idx) {
      this.selected = this.datasets[idx]
      this.selected.idx = idx
      this.props[0].label = this.selected.Name
      let params = new URLSearchParams()
      params.append('datasetid', this.selected.ID)
      this.$q.loading.show()
      post('/api/getbasedata', params).then(res => {
        this.$q.loading.hide()
        this.props = parsetree(res.data)
        this.props[0].label = this.selected.Name
      })
    },
    showdata () {
      this.showval = []
      for(let i = 0;i < this.props[0].children.length; i++) {
        for(let j = 0;j < this.props[0].children[i].children.length; j++){
          for(let k = 0;k < this.ticked.length; k++){
            if(this.ticked[k] == this.props[0].children[i].children[j].label){
              let obj = {
                label: this.props[0].children[i].children[j].label,
                file: 'data:image/jpg;base64,' + this.props[0].children[i].children[j].file,
                parent: i + '',
                idx: j + ''
              }
              this.showval.push(obj)
            }
          }
        }
      }
    },
    unselectNode () {
      this.selectnode = null
    },
    set(files) {
      this.filelist = files
    },
    adddata(idx) {
      let params = new FormData()
      for(let i = 0;i < this.filelist.length; i++){
        params.append('file' + (i + 1), this.filelist[i])
      }
      let obj = {
        Dataset: this.selected.ID + '',
        Class: this.classname
      }
      params.append('data', JSON.stringify(obj))
      this.$q.loading.show()
      post('/api/upload', params).then(() => {
        this.$q.loading.hide()
        this.scan(idx)
        // 表示の編集
        this.$q.dialog({
          dark: true,
          title: 'メッセージ',
          message: '登録が完了しました。',
          cancel: true,
          persistent: true
        }).onOk(() => {
          this.$refs.removeall.removeImageAll()
        }).onCancel(() => {
          this.$refs.removeall.removeImageAll()
        }).onDismiss(() => {
          this.$refs.removeall.removeImageAll()
        })
      })
    },
    filterFn (val, update) {
      if (val === '') {
        update(() => {
          this.options = this.baseoptions
        })
        return
      }
      update(() => {
        const needle = val.toLowerCase()
        this.options = this.baseoptions.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },
    adddataset() {
      this.$q.dialog({
        dark: true,
        title: 'データセット名',
        message: 'What is dataset name?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(data => {
        let params = new URLSearchParams()
        params.append('name', data)
        post('/api/createdataset', params).then(res => {
          let id = res.data
          this.datasets.push({ Image: 'https://cdn.quasar.dev/img/mountains.jpg', Name: data, ID: id })
        })
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    del(idx){
      this.$q.dialog({
        dark: true,
        title: '削除',
        message: 'データを削除しますか？(この操作は取り消せません。)',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // 削除
        let params = new URLSearchParams()
        params.append('datasetid', this.datasets[idx].ID)
        post('/api/deletedataset', params)
        this.datasets.splice(idx, 1)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    deletedata(idx) {
      let deleteval = []
      for(let i = 0;i < this.props[0].children.length; i++) {
        for(let j = 0;j < this.props[0].children[i].children.length; j++){
          for(let k = 0;k < this.ticked.length; k++){
            if(this.ticked[k] == this.props[0].children[i].children[j].label){
              deleteval.push(this.props[0].children[i].children[j].basekey)
            }
          }
        }
      }
      this.$q.dialog({
        dark: true,
        title: '削除',
        message: 'データを削除しますか？(この操作は取り消せません。)',
        cancel: true,
        persistent: true
      }).onOk(() => {
        // 削除
        let jsonstr = JSON.stringify(deleteval)
        let params = new URLSearchParams()
        params.append('keys', jsonstr)
        this.$q.loading.show()
        post('/api/deletedata', params).then(res => {
          this.$q.loading.hide()
          if (res.data) {
            this.scan(idx)
          }
        })
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    }
  }
}
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 250px
  margin: 15px;
</style>