<template>
  <div>
    <q-card>
      <q-card-section>
        <q-btn-toggle
        v-model="select"
        toggle-color="primary"
        flat
        :options="[
          {label: '基本情報', value: 'basic'},
          {label: '外部アプリ', value: 'app'},
        ]"
        />
      </q-card-section>
      <q-separator />
      <q-card-section v-if="select == 'basic'">
        <div class="q-pa-md">
          <q-input label="ID" type="text" v-model="ID" :disable="edit" />
          <q-input label="Password" type="password" v-model="password" :disable="edit" />
          <q-input label="mail" type="mail" v-model="mail" :disable="edit" />
        </div>
        <div class="q-pa-md" align="right">
          <q-btn :label="editlabel" @click="onedit" />
        </div>
      </q-card-section>
      <q-card-section v-if="select == 'app'">
        <div class="text-h6">アプリケーションとの連携</div>
        <q-option-group
        :options="options"
        label="Notifications"
        type="radio"
        v-model="group"
        />
        <div v-if="group != null">
          <div class="text-h6">{{group}}</div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { post } from '@/frontend/libs/post'
export default {
  created() {
    let params = new URLSearchParams()
    post('/service/getinfo', {}).then(res => {
      console.log(res.data)
      this.ID = res.data.userid
      this.mail = res.data.mail
      this.password = res.data.password
    })
  },
  data() {
    return {
      ID: '',
      mail: '',
      password: '',
      select: 'basic',
      edit: true,
      editlabel: '有効化',
      group: null,
      options: [
        { label: 'Battery too low', value: 'test1' },
        { label: 'Friend request', value: 'test2' },
        { label: 'Picture uploaded', value: 'test3' }
      ]
    }
  },
  methods: {
    onedit() {
      if(this.edit){
        this.edit = false
        this.editlabel = '更新'
      }else{
        // 送信処理
        let params = new URLSearchParams()
        params.append('ID',this.ID)
        params.append('mail', this.mail)
        params.append('Password', this.password)
        post('/service/update', params).then(res => {
          this.$q.dialog({
            dark: true,
            title: 'メッセージ',
            message: res.data,
            cancel: true,
            persistent: true
          }).onOk(() => {
            this.edit = true
            this.editlabel = '有効化'
          }).onCancel(() => {
            this.edit = true
            this.editlabel = '有効化'
          }).onDismiss(() => {
            this.edit = true
            this.editlabel = '有効化'
          })
        })
      }
    }
  }
}
</script>

<style>

</style>