<template>
	<div>
		<div>
			<q-carousel
			animated
			v-model="slide"
			infinite
			autoplay
			transition-prev="slide-right"
			transition-next="slide-left"
			>
			<q-carousel-slide v-for="img in imgs" v-bind:key="img.id" :name="img.id" :img-src="img.link">
				<div class="absolute-bottom custom-caption">
				<div class="text-h2">{{img.title}}</div>
				<div class="text-subtitle1">{{img.subtitle}}</div>
				</div>
			</q-carousel-slide>
			</q-carousel>
		</div>
		<div style="margin-top: 15px;">
			<div style="text-align: center;"  class="row">
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<div>
						<q-icon size="50px" name="show_chart" />
						<q-separator />
					</div>
				</div>
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<div>
						<q-icon size="50px" name="person" />
						<q-separator />
					</div>
				</div>
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<div>
						<q-icon size="50px" name="lock" />
						<q-separator />
					</div>
				</div>
			</div>
			<div style="text-align: center;"  class="row">
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<p>
						ドラッグ&ドロップで画像解析をします。
					</p>
				</div>
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<p>
						アカウントとデータを紐付けます。
					</p>
				</div>
				<div class="col q-pa-md row no-wrap items-center justify-around">
					<p>
						暗号化により情報を保護します。
					</p>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
  data() {
    return {
      slide: 1,
      imgs: [
				{
					id: 1,
					link: "https://cdn.quasar.dev/img/mountains.jpg",
					title: 'test',
					subtitle: 'test'
				},
				{
					id: 2,
					link: "https://cdn.quasar.dev/img/parallax1.jpg",
					title: 'test',
					subtitle: 'test'
				},
				{
					id: 3,
					link: "https://cdn.quasar.dev/img/parallax2.jpg",
					title: 'test',
					subtitle: 'test'
				},
				{
					id: 4,
					link: "https://cdn.quasar.dev/img/quasar.jpg",
					title: 'test',
					subtitle: 'test'
				}
			]
    }
  },
  components: {

  }
}
</script>

<style lang="sass" scoped>
.custom-caption
	text-align: center
	padding: 12px
	color: white
	background-color: rgba(0, 0, 0, .3)
</style>
