<template>
  <div>
    <dataset-header :content-component="datasetbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/dataset/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'dataset-header': header
  },
  data() {
    return{
      datasetbody: body
    }
  }
}
</script>

<style>

</style>