<template>
  <div>
    <info-header :content-component="infobody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/info/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'info-header': header
  },
  data() {
    return{
      infobody: body
    }
  }
}
</script>

<style>

</style>