<template>
  <div>
    <monitor-header :content-component="monitorbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/monitor/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'monitor-header': header
  },
  data() {
    return{
      monitorbody: body
    }
  }
}
</script>

<style>

</style>