<template>
  <div>
    <prediction-header :content-component="predictionbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/prediction/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'prediction-header': header
  },
  data() {
    return{
      predictionbody: body
    }
  }
}
</script>

<style>

</style>