<template>
  <div>
    <train-header :content-component="trainbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/train/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'train-header': header
  },
  data() {
    return{
      trainbody: body
    }
  }
}
</script>

<style>

</style>