<template>
  <div>
    <weightoperation-header :content-component="weightoperationbody" />
  </div>
</template>

<script>
import body from '@/frontend/components/logged/weightoperation/body'
import header from '@/frontend/components/header'

export default {
  created() {
  },
  components: {
    'weightoperation-header': header
  },
  data() {
    return{
      weightoperationbody: body
    }
  }
}
</script>

<style>

</style>