<template>
  <div>
    <q-card>
      <q-card-section>
		<q-btn-toggle
		v-model="select"
		toggle-color="primary"
		flat
		:options="[
			{label: 'AI作成', value: 'train'},
			{label: '追加学習', value: 'addtrain'},
		]"
		/>
      </q-card-section>
			<q-separator />
			<q-card-section v-if="select == 'train'">
				<form method="post" @submit.prevent="Submit" action="/api/StoreTrain">
					<div class="q-pa-md">
						<div class="text-h6">データセットの設定</div>
							<div class="row">
							<div class="col-4">
								<q-select
								v-model="Train.train"
								label="学習用データセット"
								:options="options"
								required
								/>
							</div>
							<div class="col-1" />
							<div class="col-4">
								<q-select
								v-model="Train.test"
								label="検証用データセット"
								:options="options"
								/>
							</div>
						</div>
					</div>
					<div class="q-pa-md">
						<div class="text-h6">データの前処理</div>
						<q-select
						v-model="Train.selectpreprocess"
						multiple
						use-chips
						stack-label
						label="データの下処理"
						:options="preprocess"
						/>
					</div>
					<div class="q-pa-md">
						<div class="text-h6">ハイパーパラメータ</div>
						<q-input type="number" label="batch" v-model="Train.batch" required />
						<q-input type="number" label="epoch" v-model="Train.epoch" required />
						<q-input type="number" label="steps per epoch" v-model="Train.steps" required />
						<q-input type="number" label="train layer" v-model="Train.layer" required />
						<q-select 
						v-model="Train.optimizer"
						label="最適化関数"
						:options="optimizers" />
						<q-select 
						v-model="Train.loss"
						label="誤差関数"
						:options="losses" />
					</div>
					<div class="q-pa-md">
						<div class="text-h6">pretrained model</div>
						<q-select 
						v-model="Train.pretrained"
						label="pre-trained model	"
						:options="pretraineds" />
					</div>
					<div class="q-pa-md" align="right">
						<q-btn color="primary" label="学習開始" type="submit"/>
					</div>
				</form>
			</q-card-section>
			<q-card-section v-else-if="select == 'addtrain'">
				<form method="post" @submit.prevent="Submit" action="/api/StoreTrain">
					<div class="q-pa-md">
						<div class="text-h6">追加学習モデル</div>
						<q-select
						v-model="AddTrain.model"
						label="モデル"
						:options="models"
						/>
					</div>
					<div class="q-pa-md">
						<div class="text-h6">データセットの設定</div>
							<div class="row">
							<div class="col-4">
								<q-select
								v-model="AddTrain.train"
								label="学習用データセット"
								:options="options"
								required
								/>
							</div>
							<div class="col-1" />
							<div class="col-4">
								<q-select
								v-model="AddTrain.test"
								label="検証用データセット"
								:options="options"
								/>
							</div>
						</div>
					</div>
					<div class="q-pa-md">
						<div class="text-h6">データの前処理</div>
						<q-select
						v-model="AddTrain.selectpreprocess"
						multiple
						use-chips
						stack-label
						label="データの下処理"
						:options="preprocess"
						/>
					</div>
					<div class="q-pa-md">
						<div class="text-h6">ハイパーパラメータ</div>
						<q-input type="number" label="batch" v-model="AddTrain.batch" required />
						<q-input type="number" label="epoch" v-model="AddTrain.epoch" required />
						<q-input type="number" label="steps per epoch" v-model="AddTrain.steps" required />
						<q-input type="number" label="train layer" v-model="AddTrain.layer" required />
						<q-select
						v-model="AddTrain.optimizer"
						label="最適化関数"
						:options="optimizers"
						required />
						<q-select
						v-model="AddTrain.loss"
						label="誤差関数"
						:options="losses"
						required />
					</div>
					<div class="q-pa-md" align="right">
						<q-btn color="primary" label="学習開始" type="submit" :loading="submitting">
							<template v-slot:loading>
								<q-spinner-facebook />
							</template>
						</q-btn>
				</form>
			</q-card-section>
    </q-card>
  </div>
</template>

<script>
import { post, trainpost } from '@/frontend/libs/post'

export default {
	created() {
		post('/api/getdatasetname', {}).then(res => {
			for(let i = 0;i < res.data.length; i++){
				this.options.push({ label: res.data[i].name, value: res.data[i].id + ''})
			}
		})
		post('/service/getinfo', {}).then(res => {
			this.Train.ID = res.data.userid
			this.AddTrain.ID = res.data.userid
		})
	},
	data() {
		return {
			submitting: false,
			select: 'train',
			options: [
			],
			preprocess: [
				'正規化',
				'白色化',
				'横反転',
				'縦反転',
				'分割'
			],
			selectpreprocess: [
			],
			pretraineds: [
				'vgg16',
				'vgg19',
				'inceptionv3',
				'mobilenetv2',
				'mobilenet',
				'nasnetlarge',
				'nasnetmobile',
				'resnet50',
				'xception',
				'inceptionresnetv2',
				'densenet121',
				'densenet169',
				'densenet201'
			],
			optimizers: [
				'SGD',
				'RMSprop',
				'Adagrad',
				'Adadelta',
				'Adam',
				'Adamax',
				'Nadam'
			],
			losses: [
				'mean_squared_error',
				'mean_absolute_error',
				'mean_absolute_percentage_error',
				'mean_squared_logarithmic_error',
				'squared_hinge',
				'hinge',
				'categorical_hinge',
				'logcosh',
				'categorical_crossentropy',
				'sparse_categorical_crossentropy',
				'binary_crossentropy',
				'kullback_leibler_divergence',
				'poisson',
				'cosine_proximity'
			],
			Train: {
				ID: '',
				batch: 1,
				epoch: 10,
				steps: 10,
				layer: 15,
				train: '',
				test: '',
				pretrained: 'vgg16',
				optimizer: 'Adam',
				loss: 'binary_crossentropy'
			},
		  AddTrain: {
				ID: '',
				batch: 1,
				epoch: 10,
				steps: 10,
				layer: 15,
				train: '',
				test: '',
				model: '',
				optimizer: 'Adam',
				loss: 'binary_crossentropy',
			}
		}
	},
	methods: {
		Submit() {
			let json = ''
			this.submitting = true
			
			if(this.select == 'train') {
				if(this.Train.train.value == null || this.Train.train.value == '') {
					this.dispdialog('学習のデータセットを設定してください')
					return
				}
				this.Train.train = this.Train.train.value
				this.Train.test = this.Train.test.value
				json = JSON.stringify(this.Train)
				if(this.Train.optimizer == '') {
					this.dispdialog('最適化関数を設定してください')
					return
				}
				if(this.Train.loss == ''){
					this.dispdialog('損失関数を設定してください')
					return
				}
				let params = new URLSearchParams()
				params.append('data', json)
				this.$q.loading.show()
				setTimeout(() => {
					this.$q.loading.hide()
					this.$router.push("/logged/monitor")
				}, 20000)
				trainpost('/api/storeTrain', params)
				this.$store.commit('startTrain')
				this.Train.train = ''
				this.Train.test = ''
			}else if(this.select == 'addtrain') {
				if(this.AddTrain.train.value == null || this.AddTrain.train.value == ''){
					this.dispdialog('学習のデータセットを設定してください')
					return
				}
				this.AddTrain.train = this.AddTrain.train.value
				this.AddTrain.test = this.AddTrain.test.value
				json = JSON.stringify(this.AddTrain)
				if(this.AddTrain.optimizer == ''){
					this.dispdialog('最適化関数を設定してください')
					return
				}
				if(this.AddTrain.loss == ''){
					this.dispdialog('損失関数を設定してください')
					return
				}
				this.AddTrain.train = ''
				this.AddTrain.test = ''
			}
		},
		dispdialog(msg){
			this.$q.dialog({
        dark: true,
        title: 'エラー',
        message: msg,
        cancel: true,
        persistent: true
      }).onOk(() => {
      }).onCancel(() => {
      }).onDismiss(() => {
      })
		}
	}
}
</script>

<style>

</style>