<template>
  <div>
    <q-card>
      <q-card-section>
        <div class="q-pa-md">
          <div class="text-h6">予測用画像</div>
        </div>
        <dropify
        @upload="set" />
        <div class="q-pa-md" align="right">
					<q-btn color="primary" label="予測"/>
				</div>
      </q-card-section>
      <q-card-section v-for="(item, idx) in result" v-bind:key="idx">
        <div class="text-h6">{{item.name}}</div>
        <div class="text-h6">{{item.result}}</div>
        <q-img :src="item.src" />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import dropify from 'vue-dropify'
export default {
  data() {
    return {
      filelist: [],
      result: [{
        name: 'test.jpg',
        src: 'https://cdn.quasar.dev/img/quasar.jpg',
        result: 'space'
      }]
    }
  },
  components: {
    dropify
  },
  methods: {
    set(files) {
      for(let i = 0; i < files.length; i++){
        this.filelist.push(files[i])
      }
    }
  }
}
</script>

<style>

</style>